* {
  margin: 0;
}
html, body {
  height: 100%;
}

body{
  background-color: #fdfdfd;
}

p{
  font-family: "Nimbus Sans", sans-serif;
  color: #5C5C58;
}

h3 {
  /*font-family:"minion-pro", Palatino, Georgia, serif;*/ 
  font-family: "Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.625em;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 20px;
}

h4{
  /*font-family:"minion-pro", Palatino, Georgia, serif;*/ 
  font-family: "Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.313em;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 30px;
}

h6 {
  font-size: 1.250em;
 /* font-family:"minion-pro", Palatino, Georgia, serif; */
 font-family: "Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 15px
}

/*UNIVERSAL STYLE*/
.bio-border {
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.break-right {
  border-right: 2px dotted #D4D4D4;
}

.break-left {
  border-left: 2px dotted #D4D4D4;
}

.border-margin {
  margin-top: 8px;
}
.border-break{
  border-left: 1px solid #D4D4D4;
  margin-bottom: 3px;
}
.pad-r {
  padding-right: 15px;
}
.pad-l {
  padding-left: 15px;
}
.title {
  font-family: "Nimbus Sans", sans-serif
  color: #5C5C58;
  font-weight: bold;
  font-size: 1.125em;
}
.title-pad {
    margin-top: 80px;
}
#swirl-image{
  display: block;
  background-color: #fdfdfd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(40%, #FFF)),url('../img/white_wave.png');
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4),#fdfdfd 40%),url('../img/white_wave.png');
  background: -moz-linear-gradient(rgba(255,255,255,0.4),#fdfdfd 40%),url('../img/white_wave.png');
  background: -o-linear-gradient(rgba(255,255,255,0.4),#fdfdfd 40%),url('../img/white_wave.png');
  background: linear-gradient(rgba(255, 255, 255, 0.4),#fdfdfd 40%),url('../img/white_wave.png');
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), #fdfdfd 40%), url('../img/white_wave.png');
  background-position-x: initial, initial;
  background-position-y: initial, initial;
  background-size: initial, initial;
  background-repeat-x: initial, initial;
  background-repeat-y: initial, initial;
  background-attachment: initial, initial;
  background-origin: initial, initial;
  background-clip: initial, initial;
  background-color: #fdfdfd;
  z-index: -1;
}

.top-pad {
  padding-top: 17.5px;
}

/*HOME PAGE*/
.home-body {
  padding-top: 50px;
}
.home-body img {
  border: 4px solid rgba(0,0,0,.5);
}
.home-intro {
  font-size: .938em;
  line-height: 22px;
}

.home-info {
  font-size: .938em;
  line-height: 19px;
  margin-top: 15px;
}

.line-seperator {
  border-top: 1px solid #D4D4D4;
  padding-top: 3px;
}

/*Footer*/

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-footer {
  background: #5C5C58;
}

/*AWARDS AND RECOGNITION*/

.awards-list li {
  list-style-type: none;
  font-family:"Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-size:.938em;
  font-weight: bold;
}
.award-text {
  font-family:"Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-size:.938em;
  text-align:center;
  padding-top: 1.25em;
  font-weight: bold;
}

.number{
  font-family:"Acta Display", Palatino, Georgia, serif;
  color: #5C5C58;
  font-weight: bold;
  font-size:1.063em 
}

/*NAV BAR + HEADER*/
.header-border {
  border-bottom: 2px solid #5C5C58;
  z-index: 100;
}


.nav-wrap{
  width: 100%;
  height:50px;
  position: relative;
  margin-top: 78px;
}

#active {
  font-weight: bold;
}

.navbar{
  height: 50px;
  padding-top: 15px;
}
.navbar li{
  height: auto;
  width: 110px;
  float: right;
  text-align: center;
  list-style: none;
  font-family: "Acta Display", Palatino, Georgia, serif; 
  /*background-color: #366b82;*/
  text-transform: uppercase;
  font-size: .938em;
}
.navbar a {
  text-decoration: none;
  color: #5C5C58;
  display: block;
}
.slanted {
  font-style: italic;
}

.white a {
  color:#fff;
  font-size: 1.063em;
}

.footer-nav-wrap{
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: #FFFFF0;
}

.footer-nav a:hover {
  text-decoration: underline;
} 

.footer-nav li {
  list-style: none;
  font-family: "Acta Display", Palatino, Georgia, serif; 
  text-transform: uppercase;
  font-size: .938em;
}

.footer-text {
  color: #FFFFF0;
  font-family: "Nimbus Sans", sans-serif;
  font-size: .688em;
  margin-top: 100px;
  text-align: right;
}

.footer-text a {
  color: #262626;
  text-decoration: underline;
}

.footer-text a:hover {
  
  color: #FFFFF0;;
}


/*Home-page*/
#image-page-wrap{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url(../img/homepage-update1.gif);
 /* opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#module {
  width: 600px;
  height:300px;
  position: absolute;
  top: 28%;
  left:5%;
  min-height: 300px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .9);
}

.module-padding{
  padding:20px;
}

.index-text {
  color: #fff;
  font-size: 1.063em;
}

.title-homepage {
  color:#fff;
  text-transform: uppercase;
}

.index-left img {
  position: relative;
}
#nav-homepage{
  height:50px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  right: 255px;
}

.client-image-container {
  max-width: 50%;
  position: relative;
  height: 65px;
  margin-bottom: 15px;
}

.client-title {
  margin-top: 0px;
  font-size: 1.875em;
  padding-top: 30px;
  text-align: left;
}

.client-text {
  font-size: .875em;
  max-width: 270px;
}

.client-container{
  max-width: 440px;
}

.orbit-style {
  margin-bottom: 4px;
  margin-left: 4px;
  width: auto;
}

.orbit-style p {
  color: #FFFFF0;
  font-size: 0.875em;
}

.contact-button {
  background-color:#5C5C58;
  border-color: #40403E;
}

.contact-button:hover {
  background-color: #AEAEAC;
}

.contact-heading {
  font-weight: bold;
  margin-top: 50px
}


